
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/master.cshtml";
}

<!-- why section -->
<section class="why_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            Why Choose Us
                        </h2>
                    </div>

                    <p>
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
                        in
                        some form, by injected humour, or randomised words which don't look even slightly believable. If you are
                    </p>
                    <div>
                        <a href="">
                            Read More
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="img-container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="img-box">
                                <img src="~/Content/images/w-1.jpg" alt="">
                                <a href="">
                                    <img src="~/Content/images/link.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="img-box">
                                <img src="~/Content/images/w-2.jpg" alt="">
                                <a href="">
                                    <img src="~/Content/images/link.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="img-box">
                                <img src="~/Content/images/w-3.jpg" alt="">
                                <a href="">
                                    <img src="~/Content/images/link.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="img-box">
                                <img src="~/Content/images/w-4.jpg" />
                                <a href="">
                                    <img src="~/Content/images/link.png" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end why section -->
