
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/master.cshtml";
}

<!-- contact section -->

<section class="contact_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>
                Contact Us
            </h2>
        </div>
        <div class="">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <form action="" method="post">
                        <div class="contact_form-container">
                            <div>
                                <div>
                                    <input type="text" placeholder="Name" name="Name">
                                </div>
                                <div>
                                    <input type="email" placeholder="Email" name="Email">
                                </div>
                                <div>
                                    <input type="text" placeholder="Phone Number" name="Phone">
                                </div>
                                <div class="">
                                    <input type="text" placeholder="Message" class="message_input" name="Message">
                                </div>
                                <div class="mt-5 d-flex justify-content-center ">
                                    <button type="submit">
                                        Send
                                    </button>
                                </div>
                            </div>

                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- end contact section -->
