
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/master.cshtml";
}

<!-- slider section -->
<section class=" slider_section ">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">01</li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1">02</li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="detail-box">
                        <h1>

                            The Best <br>
                            Deals For Parking lots
                        </h1>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        </p>
                        <div>
                            
                            <a href="~/Views/Index/Contact.cshtml">Contact Us</a>


                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="detail-box">
                        <h1>

                            The Best <br>
                            Deals For Parking lots
                        </h1>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        </p>

                        <div>
                            <a href="">
                                Contact us
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="sr-only">Next</span>
        </a>
    </div>

</section>
<!-- end slider section -->
<!-- find section -->
<section class="find_section">
    <div class="container" style="margin-top:5%;">
        <form action="">
            <div class=" form-row">
                <div class="col-lg-3">
                    <label for="carPark">Select Car Park</label>
                    <select name="" id="carPark" class="form-control">
                        <option value="">First Floor</option>
                        <option value="">Option 1</option>
                        <option value="">Option 2</option>
                    </select>
                </div>
                <div class="col-lg-3">
                    <label for="parkingName">Your Name Here</label>
                    <input type="text" class="form-control" placeholder="jack frod " id="parkingName">
                </div>

                <div class="col-lg-3">
                    <label for="parkingNumber">Your Phone Number</label>
                    <input type="text" class="form-control" placeholder="+01 1234567890 " id="parkingNumber">
                </div>
                <div class="col-lg-3">
                    <div class="btn-container">
                        <button type="submit" class="">
                            Request a call
                        </button>
                    </div>
                </div>
            </div>

        </form>
    </div>
</section>

<!-- end find section -->
<!-- feature section -->
<section class="feature_section layout_padding2">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="box">
                    <div class="img-box">
                        <img src="~/Content/images/money.png" />
                    </div>
                    <div class="detail-box">
                        <h5>
                            Save Money
                        </h5>
                        <p>
                            It is a long established fact that a reader will be distracted by the readable content
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box">
                    <div class="img-box">
                        <img src="~/Content/images/clock.png" />
                    </div>
                    <div class="detail-box">
                        <h5>
                            Save Time
                        </h5>
                        <p>
                            It is a long established fact that a reader will be distracted by the readable content
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box">
                    <div class="img-box">
                        <img src="~/Content/images/man.png" />
                    </div>
                    <div class="detail-box">
                        <h5>
                            Save Stress
                        </h5>
                        <p>
                            It is a long established fact that a reader will be distracted by the readable content
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end feature section -->
<!-- why section -->
<section class="why_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            Why Choose Us
                        </h2>
                    </div>

                    <p>
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
                        in
                        some form, by injected humour, or randomised words which don't look even slightly believable. If you are
                    </p>
                    <div>
                        <a href="">
                            Read More
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="img-container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="img-box">
                                <img src="~/Content/images/w-1.jpg" />
                                <a href="">
                                    <img src="~/Content/images/link.png" />
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="img-box">
                                <img src="~/Content/images/w-2.jpg" />
                                <a href="">
                                    <img src="~/Content/images/link.png" />
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="img-box">
                                <img src="~/Content/images/w-3.jpg" />
                                <a href="">
                                    <img src="~/Content/images/link.png" />
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="img-box">
                                <img src="~/Content/images/w-4.jpg" />
                                <a href="">
                                    <img src="~/Content/images/link.png" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end why section -->
<!-- client section -->

<section class="client_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>
                What Our Customers Say
            </h2>
        </div>
        <div id="carouselExample2Indicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExample2Indicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExample2Indicators" data-slide-to="1"></li>
                <li data-target="#carouselExample2Indicators" data-slide-to="2"></li>
                <li data-target="#carouselExample2Indicators" data-slide-to="3"></li>
                <li data-target="#carouselExample2Indicators" data-slide-to="4"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="box">
                        <div class="img-box">
                            <img src="~/Content/images/client.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h6>
                                laboris nisi
                            </h6>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                aliquip ex
                                ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                            </p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="box">
                        <div class="img-box">
                            <img src="~/Content/images/client.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h6>
                                laboris nisi
                            </h6>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                aliquip ex
                                ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                            </p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="box">
                        <div class="img-box">
                            <img src="~/Content/images/client.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h6>
                                laboris nisi
                            </h6>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                aliquip ex
                                ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                            </p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="box">
                        <div class="img-box">
                            <img src="~/Content/images/client.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h6>
                                laboris nisi
                            </h6>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                aliquip ex
                                ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                            </p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="box">
                        <div class="img-box">
                            <img src="~/Content/images/client.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h6>
                                laboris nisi
                            </h6>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                aliquip ex
                                ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- end client section -->
<!-- rate section -->

<section class="rate_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>
                Parking Options and Rates
            </h2>
        </div>
        <div class="rate_container">
            <div class="box">
                <div class="detail-box">
                    <div class="price">
                        <h3>
                            $ <span>30</span> /day

                        </h3>
                        <h6>
                            Basic
                        </h6>
                    </div>
                    <p>
                        long established fact a reader will be distracted by the readable content of a page when looking at its
                    </p>
                </div>
                <div class="btn-box">
                    <a href="">
                        Read More
                    </a>
                </div>
            </div>
            <div class="box">
                <div class="detail-box">
                    <div class="price">
                        <h3>
                            $ <span>40</span> /day

                        </h3>
                        <h6>
                            Standard
                        </h6>
                    </div>
                    <p>
                        long established fact a reader will be distracted by the readable content of a page when looking at its
                    </p>
                </div>
                <div class="btn-box">
                    <a href="">
                        Read More
                    </a>
                </div>
            </div>
            <div class="box">
                <div class="detail-box">
                    <div class="price">
                        <h3>
                            $ <span>50</span> /day

                        </h3>
                        <h6>
                            Premium
                        </h6>
                    </div>
                    <p>
                        long established fact a reader will be distracted by the readable content of a page when looking at its
                    </p>
                </div>
                <div class="btn-box">
                    <a href="">
                        Read More
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end rate section -->
<!-- contact section -->

<section class="contact_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>
                Contact Us
            </h2>
        </div>
        <div class="">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <form action="" method="post">
                        <div class="contact_form-container">
                            <div>
                                <div>
                                    <input type="text" placeholder="Name" name="Name">
                                </div>
                                <div>
                                    <input type="email" placeholder="Email" name="Email">
                                </div>
                                <div>
                                    <input type="text" placeholder="Phone Number" name="Phone">
                                </div>
                                <div class="">
                                    <input type="text" placeholder="Message" class="message_input" name="Message">
                                </div>
                                <div class="mt-5 d-flex justify-content-center ">
                                    <button type="submit">
                                        Send
                                    </button>
                                </div>
                            </div>

                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- end contact section -->
